body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-style: italic;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}